{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ],
  "ignore": [
    "node_modules",
    "bower_components",
    "ol-debug.js",
    "ol.js",
    "rex.default.config.js",
    "dist"
  ]
}
